<section id="hero">
    <div class="row">
        <!-- <img src="img/slik-logo2.svg" alt="" /> -->
        <div class="intro">
            <h1>We are Slik</h1>
            <span class="adj">[ ADJ. ]</span>
            <p>Smooth, Smart, Stylish</p>
        </div>
    </div>
</section>

<div class="back-to-top">
  <svg version="1.1" id="slik-logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 239 328" style="enable-background:new 0 0 239 328;" xml:space="preserve">
  <g>
  	<g>
  		<path style="fill:#FFFFFF;" d="M237.5,209c0,2.5-0.1,5.1-0.2,7.6c0,0.2,0,0.3,0,0.5c-4.1,61-54.8,109.1-116.8,109.1
  			c-6.5,0-13.1-0.5-19.3-1.6l0,0l42-90.4l0,0L151,217l0.2-0.5l45-96.8c0,0,0.1,0.1,0.1,0.1c13.7,11.6,24.6,26.4,31.8,43.1
  			c0,0,0,0,0,0C234.1,177,237.5,192.6,237.5,209z M119.2,2.3C56.3,2.3,5,51.8,2,114v0c0,1.8,0,3.5,0,5.3c0,16.4,3.5,32,9.5,46.1
  			c0,0,0,0,0,0.1c0,0,0,0,0,0c6.9,15.9,17.2,30.1,30,41.4c0,0,0,0,0,0l0,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.2,0c0,0,0,0,0.1,0
  			c0.1,0,0.1,0,0.1,0l43-93.1h0l-0.2,0l0-0.1L93.7,95l0.1-0.1l42.5-91.4C130.7,2.7,124.8,2.3,119.2,2.3z M236,114h-37l-0.2-0.1
  			l0,0.1H139V3.9c36,6,66.4,28.5,83.4,59.5c0,0.1,0.1,0.1,0.1,0.2l-0.2,0.3C230.4,78.9,235,95.9,236,114z M222.2,63.5L222.2,63.5
  			C222.2,63.5,222.2,63.5,222.2,63.5L222.2,63.5z M3.5,217c1,16,5.2,31.6,12.3,45.5c0,0,0,0.1,0,0.1c16.5,32.2,47.1,55.5,84.1,61.8
  			V217H3.5z M151,217L151,217"/>
  	</g>
  </g>
  </svg>

  <span>Back to top</span>
</div>

<div class="separator"></div>

<section id="slik-tricks">
    <div class="row">
        <div class="slik-intro">
            <h2>Slik Tricks</h2>
            <p>Random musing, fun things we’ve found & a look behind the scenes</p>
        </div>

        <ul class="social-feed">
            <li class="twitter">
                <div class="feed-background">
                  <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4>Twitter</h4>
                    <p>Use Your Reset Button to Change Your Vibration</p>
                </div>
            </li>

            <li>
                <div class="feed-background">
                  <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4></h4>
                    <p></p>
                </div>
            </li>

            <li>
                <div class="feed-background">
                  <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4></h4>
                    <p></p>
                </div>
            </li>

            <li>
                <div class="feed-background">
                    <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4></h4>
                    <p></p>
                </div>
            </li>

            <li>
                <div class="feed-background">
                    <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4></h4>
                    <p></p>
                </div>
            </li>

            <li>
                <div class="feed-background">
                    <img src="http://placehold.it/300x300" />
                </div>
                <div class="feed-copy">
                    <h4></h4>
                    <p></p>
                </div>
            </li>
        </ul>
    </div>
</section>

<div class="separator"></div>

<section id="companies">
    <div class="row">
        <div class="slik-intro">
            <h2>The companies we keep</h2>
            <p>Some agencies call them clients, we call them legends!</p>
        </div>

        <ul class="companies-list">
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
          <li>
            <div class="company">
              <img src="http://placehold.it/122x34" />
            </div>
          </li>
        </ul>
    </div>

</section>

<div class="separator"></div>

<section id="get-in-touch">
  <div class="row">
    <div class="slik-intro">
        <h2>Get in touch</h2>
        <p>We love getting emails almost as much as we love our ASOS deliveries</p>
    </div>
    <div class="contact medium-4 columns">
        <h4>Work with us</h4>
        <h5>Business Development</h5>

        <p>+61 2 9999 4444</p>
        <p>sales@slik.com.au</p>
    </div>
    <div class="contact medium-4 columns">
        <h4>Work for us</h4>
        <h5>Recruiting</h5>

        <p>+61 2 9999 4444</p>
        <p>caniwork@slik.com.au</p>
    </div>
    <div class="contact medium-4 columns">
        <h4>Everything else</h4>
        <h5>Harry's direct line</h5>

        <p>+61 2 9999 4444</p>
        <p>hello@slik.com.au</p>
    </div>
  </div>

  <div class="row offices">
    <h5>Our offices</h5>

    <div class="office">
      <img class="office-img" src="img/sydney.jpg" class="medium-6 columns" />
      <div class="office-address medium-6 columns">
        <p>
          <span>404/8 Hill Street</span>
          <span>Surry Hills, NSW, 2010</span>
          <span>02 9380 9246</span>
          <span>hello@slik.com.au</span>
        </p>
      </div>
    </div>

  </div>



</section>

<div class="separator"></div>

<section id="more-to-come">
  <div class="row">
    <div class="slik-intro">
        <h2>More radness comin’ atcha soon!</h2>
        <p>In the mean time, don’t hestitate to <a href="#" class="get-in-touch-link" title="get in touch">get in touch</a></p>
    </div>
  </div>

</section>
