@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Rajdhani:100,300,400,500,600,700');

* {
   -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani';
  font-weight: 800;
  text-transform: uppercase;

  &::selection {
    background: #000; /* WebKit/Blink Browsers */
  }
}

h2 {
  margin-bottom: 5px;
}

p {
  font-family: 'Gentium Basic';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
}

p::selection {
  background: #000; /* WebKit/Blink Browsers */
}

.type-texture {
  font-size: 80px;
  color: rgba(0,0,0,.16)!important;
  transform: skewY(1.5deg);
  position: absolute;
  text-transform: uppercase;
  font-family: Rajdhani;
  font-weight: 800;

  @media screen and (min-width: 60em) {
    font-size: 250px;
  }

}
